body {
  background-color: lightblue;
}

h1, h2, h3, h4, h5, h6 {
 font-family: Righteous, sans-serif;
}

header{
  background-color: lightpink;
  color: salmon;
  /* display: flex; */
  text-align: center;
}
nav ul{
  /* display: flex; */
  /* flex-direction:row; */
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: salmon;
  
}
nav ul li {
  display: inline-block; 
  padding: 1em 0;
  text-align: center;
  width: 100px;
}
main img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
h1 {
  font-weight: 800;
  font-size: 3em;
  text-align: center;
}

.about {
  font-size: 1.1em;
}

/*image to be resized*/
#merch-text {
  font-size: 1.1em;
}

#t-shirtMerch {
  width: 100px;
  height: 120px;
  float: right;
}

/*.LocationList {
  margin: 3em;
}*/
table,th, td {
  background-color: lightpink;
  padding: 5px;
  border: 1px solid;
  border-collapse: collapse ;
  border-color: black;
  margin-left: auto;
  margin-right: auto;
  
}

#new-form {
  width: 100%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
#cookiesForm{
display: inline;
margin-top: 40px;
margin-left: 40px;
margin-right: 40px;
}

#blueSalmon{
  width: 500px;
  height: 200px;
  padding-top: 20px;
}


#cutterLeft {
  display: inline-block;
  padding-top: 10px;
  padding-right: 10px;
  width: 50px;
  height: 50px;
}

#cutterRight {
  display: inline;
  padding-top: 10px;
  width: 50px;
  height: 50px;
}

#familyPhoto {
  padding-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

#HQ-info {
  font-size: .9rem;
  text-align: center;
}
#frosted-cookie {
  width: 20px;
  margin-top: 5px;
  padding: 10px 10px;
}
